In [9]:
import yfinance as yf
import pandas as pd

In [ ]:
intrvl = "1d"
data = '2021-01-01'
data1 = '2021-02-02'
price = []

tickers = ['MSFT','BRK-A','TSM','UNH','DIS','BAC','HD','PG','VZ','XOM','KO',
           'T', 'V', 'JPM','VTI','JNJ','WMT','SPY','MA','BML-PJ']

for tics in tickers:
    data = pd.DataFrame(yf.download(tickers=tics, start=data, end=data1, interval=intrvl))
    #price.append([tics, data['Adj Close'].iloc[0]])
    print(data)

[*********************100%***********************]  1 of 1 completed

Exception in thread Thread-151:
Traceback (most recent call last):
  File "C:\Users\prof-\anaconda3\lib\threading.py", line 932, in _bootstrap_inner
    self.run()
  File "C:\Users\prof-\anaconda3\lib\threading.py", line 870, in run
    self._target(*self._args, **self._kwargs)
  File "C:\Users\prof-\anaconda3\lib\site-packages\multitasking\__init__.py", line 102, in _run_via_pool
    return callee(*args, **kwargs)
  File "C:\Users\prof-\anaconda3\lib\site-packages\yfinance\multi.py", line 166, in _download_one_threaded
    data = _download_one(ticker, start, end, auto_adjust, back_adjust,
  File "C:\Users\prof-\anaconda3\lib\site-packages\yfinance\multi.py", line 178, in _download_one
    return Ticker(ticker).history(period=period, interval=interval,
  File "C:\Users\prof-\anaconda3\lib\site-packages\yfinance\base.py", line 115, in history
    if start or period is None or period.lower() == "max":
  File "C:\Users\prof-\anaconda3\lib\site-packages\pandas\core\generic.py", line 1329, in __nonzero__
    raise ValueError(
ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

                  Open        High         Low       Close   Adj Close  \
Date
2020-12-31  221.699997  223.000000  219.679993  222.419998  221.908905
2021-01-04  222.529999  223.000000  214.809998  217.690002  217.189774
2021-01-05  217.259995  218.520004  215.699997  217.899994  217.399292
2021-01-06  212.169998  216.490005  211.940002  212.250000  211.762268
2021-01-07  214.039993  219.339996  213.710007  218.289993  217.788391
2021-01-08  218.679993  220.580002  217.029999  219.619995  219.115341
2021-01-11  218.470001  218.910004  216.729996  217.490005  216.990234
2021-01-12  216.500000  217.100006  213.320007  214.929993  214.436111
2021-01-13  214.020004  216.759995  213.929993  216.339996  215.842880
2021-01-14  215.910004  217.460007  212.740005  213.020004  212.530518
2021-01-15  213.520004  214.509995  212.029999  212.649994  212.161346
2021-01-19  213.750000  216.979996  212.630005  216.440002  215.942642
2021-01-20  217.699997  225.789993  217.289993  224.339996  223.824493
2021-01-21  224.699997  226.300003  222.419998  224.970001  224.453049
2021-01-22  227.080002  230.070007  225.800003  225.949997  225.430786
2021-01-25  229.119995  229.779999  224.220001  229.529999  229.002563
2021-01-26  231.860001  234.179993  230.080002  232.330002  231.796143
2021-01-27  238.000000  240.440002  230.139999  232.899994  232.364822
2021-01-28  235.610001  242.639999  235.089996  238.929993  238.380966
2021-01-29  235.990005  238.020004  231.350006  231.960007  231.426987
2021-02-01  235.059998  242.500000  232.429993  239.649994  239.099304

              Volume
Date
2020-12-31  20942100
2021-01-04  37130100
2021-01-05  23823000
2021-01-06  35930700
2021-01-07  27694500
2021-01-08  22956200
2021-01-11  23047000
2021-01-12  23249300
2021-01-13  20087100
2021-01-14  29480800
2021-01-15  31746500
2021-01-19  30480900
2021-01-20  37777300
2021-01-21  30749600
2021-01-22  30172700
2021-01-25  33152100
2021-01-26  49169600
2021-01-27  69870600
2021-01-28  49111200
2021-01-29  42468900
2021-02-01  33314200

In [37]:
prc = pd.DataFrame(price)
prc

         0              1
0     MSFT     221.908905
1    BRK-A  347815.000000
2      TSM     108.630699
3      UNH     349.438538
4      DIS     181.179993
5      BAC      30.160196
6       HD     263.965881
7       PG     138.305771
8       VZ      57.509003
9      XOM      40.531681
10      KO      54.387314
11       T      27.784883
12       V     218.390945
13     JPM     125.422722
14     VTI     193.993546
15     JNJ     156.404709
16     WMT     143.550644
17     SPY     372.659454
18      MA     356.065430
19  BML-PJ      25.150766

In [38]:
writer = pd.ExcelWriter('C:/Users/prof-/OneDrive/Рабочий стол/ПНИПУ/S_USA.xlsx', engine='xlsxwriter')
prc.to_excel(writer, 'Sheet1')
writer.save()